.mklayout {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
        'markdown'
        'settings';
    grid-template-rows: 1fr 3rem;
    box-sizing: border-box;
}

.settings {
    grid-area: settings;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.markdown {
    grid-area: markdown;
    padding: var(--space-s);
    color: var(--text-primary-color);
    overflow-y: scroll;
}