.aiview__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.aiview__responses_container {
    padding: var(--space-s);
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.aiview__response_item {
    color: var(--text-primary-color);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}