.header {
    grid-area: header;
    color: var(--secoundary-color);
    text-shadow: 0 0 .5rem currentColor;
}

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-s);
    height: 100%;
    box-sizing: border-box;
}

.header__icon {
    width: 70px;
    filter: drop-shadow(5px 5px .5rem var(--secoundary-color));
}

.header__title {
    font-size: var(--text-l);
}