.toggle_button {
    height: 100%;
    width: 2.5rem;
    border: none;
    background-color: var(--dark-color);
    color: var(--text-primary-color);
    padding: 0;
}

.toggle_button__icon {
    width: 2rem;
}