* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --bg-color: #242424;
  --dark-color: #333;
  --primary-color: #812299;
  --secoundary-color: #eb4b4b;
  --text-primary-color: #ddd;
  --text-secoundary-color: #222;

  --space-sx: .5rem;
  --space-s: 1rem;
  --space-m: 2rem;

  --text-sx: 1rem;
  --text-s: 1.3rem;
  --text-m: 1.8rem;
  --text-l: 2.5rem;
  --text-xl: 4rem;

}