.timer__contaier {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--space-m);
    box-sizing: border-box;
}

.timer__view {
    font-size: var(--text-xl);
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
    letter-spacing: .5rem;
}

.timer__container-actions {
    display: flex;
    gap: var(--space-sx);
}

.timer__button {
    border: none;
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    padding: var(--space-sx);
    font-size: var(--text-s);
    border-radius: 10px;
    box-sizing: border-box;
    color: var(--text-primary-color);
    background-color: #0000;
    cursor: pointer;
    border: 1px solid var(--dark-color);
    box-shadow: 0 0 .5rem var(--dark-color);
}

.timer__button:hover {
    background-color: var(--dark-color);
    transition: .5s;
}